spring:
  application:
    name: guildhub
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/guildhub-db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:12345678}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: false
  liquibase:
    enabled: false
  server:
    port: 8080